TAHOE_BASE="/opt/tahoe"

INTRODUCER_HOSTNAME="your.server.hostname.or.ip"
INTRODUCER_FURL="PASTE_HERE"

# minimal single-node setup: 1-of-1
SHARES_NEEDED=1
SHARES_TOTAL=1
SHARES_HAPPY=1

STORAGE_RESERVED_SPACE=10G

SFTP_PORT=8022
SFTP_USER="user"
SFTP_PASSWORD="password"

HEALTHCHECK_MAIL_TO="you@example.com"
