TAHOE_BASE="/opt/tahoe"
TAHOE_NODE_NAME="node-01"

INTRODUCER_FURL="PASTE_HERE"

SHARES_NEEDED=3
SHARES_TOTAL=10
SHARES_HAPPY=7

SFTP_PORT=8022
SFTP_USER="user"
SFTP_PASSWORD="password"

HEALTHCHECK_MAIL_TO="you@example.com"