TAHOE_BASE="/opt/tahoe"
TAHOE_IMAGE="yafb/tahoe"

INTRODUCER_HOSTNAME="your.server.hostname.or.ip"
INTRODUCER_PORT=3458
NODE_PORT=3457
GATEWAY_PORT=3459
INTRODUCER_FURL="PASTE_HERE"

# minimal single-node setup: 1-of-1
SHARES_NEEDED=1
SHARES_TOTAL=1
SHARES_HAPPY=1

STORAGE_RESERVED_SPACE=10G

SFTP_HOST="your.server.hostname.or.ip"
SFTP_PORT=8022
SFTP_USER="user"
SFTP_PASSWORD="password"

HEALTHCHECK_MAIL_TO="you@example.com"
